*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin : 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(17,6,108);
    background: radial-gradient(circle, rgba(17,6,108,1) 0%, rgba(7,16,32,1) 100%, rgba(68,86,103,1) 100%);
}

button {
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

/* ********************************** */

.portfolio {
    /* border: 1px solid red; */
    max-width: 600px;
    padding: 60px 60px 30px;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 10px;
    color: white;
}

.menu-link {
    /* border: 1px solid white; */
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.993);
}

.menu-link:hover {
    background-color: rgba(255, 255, 255, 0.486);
    /* border: rgba(255, 255, 255, 0.486); */
    /* color: white; */
    transition: all 0.5s;
}

.name {
    margin: 60px auto 30px;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.486);
}

.hello {
    margin-bottom: 30px;
    text-transform: capitalize;
    letter-spacing: 2.5px;
}

#about {
    margin: 30px 0 100px;
    max-width: 60ch;
    color: rgba(255, 255, 255, 0.486);
}

.menu-list {
    list-style: none;
    /* text-decoration: none; */
    margin: 60px 0 30px;
}

.menu-list a {
    display: block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.486);
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.486);
    padding: 1% 0;
}

.menu-list a:hover {
    color: white;
    border-bottom: 1px solid white;
    transition: all 1s;
    /* transition: 2s border-bottom; */
}